<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>

  <link rel="stylesheet" href="/css/style.css">
  <!-- <script src="./js/script.js"defer></script> -->
  <title>Files</title>
</head>
<body>
  <main>
    <h1><%=title %></h1>

    <form action="/files/<%= selectedFolder ? selectedFolder.id : 0 %>/create-folder" method="POST">
        <input id="newFolderName" type="text" name="newFolderName" value="" placeholder="New folder name">
        <% if (message) { %>
          <h3><%= message %></h3>
          <% } %>
        <button type="submit">Create Folder</button>
      </form>

    <% if (rootFiles) { %>
      <% rootFiles.forEach((file) => { %>
        <ul>
          <li><%=file.fileName %></li> <li>
            <li><%=`${file.fileSize / BigInt(1024)} kb`%></li>
            <li><%=file.mimeType %></li>
            <li><%=file.uploadedAt.toLocaleString() %></li>
            <form class="download-form" action="/download" method="POST">
              <input type="hidden" name="id" value="<%= file.id%>">
              <button type="submit">Download</button>
            </form></li>
        </ul>
      <% }) %>
    <% } %>

    
    <a href="/files">Back to root</a>
    
    <% if (rootFolders && rootFolders.length > 0) { %>
      <h3>Folders</h3>
      <ul>
        <% rootFolders.forEach((rootFolder) => { %>
          <li class="folder-link-and-edit-button-container">
            <a href="/files/<%= rootFolder.id %>"><%= rootFolder.name %></a>
            <button class="edit-name-button" type="button">Edit</button>
            <input type="hidden" value="<%= rootFolder.id%>">
          </li>
        <% }) %>
      </ul>
    <% } %>
    


    <% if (subFolders && subFolders.length > 0) { %>
      <h3>Subfolders in <%= selectedFolder.name %></h3>
      <ul>
        <% subFolders.forEach((subFolder) => { %>
          <li>
            <a href="/files/<%= subFolder.id %>"><%= subFolder.name %></a>
            <button class="edit-name-button" type="button">Edit</button>
            <input type="hidden" value="<%= subFolder.id%>">
          </li>
        <% }) %>
      </ul>
    <% } %>
    
    <% if (filesInSelectedFolder && filesInSelectedFolder.length > 0) { %>
      <h3>Files</h3>
      <ul>
        <% filesInSelectedFolder.forEach((file) => { %>
          <li class="file"><%= file.fileName %></li>
        <% }) %>
      </ul>
    <% } %>
    
    
    <form action="/upload/<%= selectedFolder ? selectedFolder.id : '' %>" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" required>
      <% if (message) { %>
        <h3><%= message %></h3>
      <% } %>
      <button type="submit">Upload</button>
    </form>
    
    
    <form class="edit-folder-form" action="/edit-folder-name" method="POST">
      <input type="text" id="edited-folder-name" name="editedFolderName" placeholder="Enter new name">
      <input type="hidden" name="folderId">
      <% if (selectedFolder) { %>

        <input type="hidden" name="selectedFolder" value="<%= selectedFolder.id %>">
      <% } %>
      <button type="submit">Edit</button>
    </form>
    <div class="overlay"></div>
  </main>

</body>
<script>
  const overlayEl = document.querySelector('.overlay');
  const editFolderFormEl = document.querySelector('.edit-folder-form');
  const editNameButtonEls = document.querySelectorAll('.edit-name-button');
    editNameButtonEls.forEach((button) => {
      button.addEventListener('click', openEditDialogue);
      
  });

  function openEditDialogue(e) {
    
    const subFolderId = e.target.parentElement.querySelector('input[type="hidden"]').value;
    const hiddenInputEl = editFolderFormEl.querySelector('input[type="hidden"');
    hiddenInputEl.value = subFolderId;
    editFolderFormEl.classList.toggle('visible');
    overlayEl.classList.toggle('overlay-visible');
  }

  overlayEl.addEventListener('click', ()=> {
    overlayEl.classList.toggle('overlay-visible');
    editFolderFormEl.classList.toggle('visible');

  });

</script>
</html>