<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>

  <link rel="stylesheet" href="./css/style.css">
  <!-- <script src="./js/script.js"defer></script> -->
  <title>Sign up</title>
</head>
<body>
  <main>
      <h1><%= title %></h1> 
  <form action="/sign-up" method="POST">
    <!-- <label for="firstName">Name</label> -->
    <input type="text" name="firstName" id="firstName" placeholder="First Name" value="<%= oldInput && oldInput.firstName ? oldInput.firstName : '' %>" autocomplete="firstName">

    <input type="text" name="lastName" id="lastName" placeholder="Last Name" value="<%= oldInput && oldInput.lastName ? oldInput.lastName : '' %>" autocomplete="lastName">

    <input type="email" name="email" id="email" placeholder="Email" value="<%= oldInput && oldInput.email ? oldInput.email : '' %>" autocomplete="email">

    <input type="password" name="password" id="password" placeholder="Password" value="" autocomplete="password">
    <% if (title === 'Success') { %>
        <h3>Proceed to <a href="/">login </a>page to log in.</h3>
    <%}%>
    <%- include("./partials/errors.ejs") %>

    <button type="submit">Submit</button>
  </form>
  </main>


</body>
</html>